<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>    
</head>
<body>    
    <div id="app"> 
        <span> Paciente:</span> <input type="text" v-model="paciente"><br>
        <ul>
            <li v-for="p in lista">{{p.nome}}, {{p.idade}}</li>
        </ul>

    </div>
    <script>
        let options = {
            
        }
        const vm = new Vue({
            el: '#app',
            data: {
                paciente: '',
                pacientes: [
                    {nome: 'Jorge sant', idade: 32},
                    {nome: 'Joao santos', idade: 45},
                    {nome: 'Jose auigusto', idade: 18},
                    {nome: 'Junior silva', idade: 29},
                    {nome: 'Julho nogueira', idade: 50}
                ],
                lista:[]
            },
            methods:{},
            computed: {},
            watch: {
                paciente(valorNovo, valorAntigo){
                    console.log(valorNovo)
                    this.lista = this.pacientes.filter(p => p.nome.match(valorNovo))

                }
            }
        })        
    </script>
</body>
</html>